h1 {
    color: gold;
    text-align: center;
font-size: 100px;
}
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/2f/ba/d7/2fbad75d92c61b167573780d0caefd01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p  {
    color: gold;
    text-align center;
    font-size: 50px;
}
