h1 {
    color: gold;
    text-align: center;
font-size: 100px;
}
body {
    background-image: url("http://desktopwallpaperbox.com/wallpapers-hd/stephen-curry-and-klay-thompson-wallpaper-for-android-On-High-Resolution-Wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p  {
    color: gold;
    text-align center;
    font-size: 50px;
}
